@import url("https://fonts.googleapis.com/css?family=Orbitron|Pacifico|Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Fahkwang|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
.heading {
    font-size: 1.68rem;
    font-family: 'Fahkwang', sans-serif;
    color: #757575 !important;
    font-weight: 600   
}
.input-field {
    margin: 0 auto; 
    width: 200px !important; 
}
button {
    margin: 0 auto;
}
#contain {
    margin: 0 auto;
    max-width: 1280px;
    width: 99%;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; 
    /* background-image: url("../../images/steel.jpeg"); */
    background-color: #413639;
    width: 100% !important;
    height: 100vh !important;
    margin: 0 auto !important;
    text-align: center;
    /* display: block !important; */
    border-radius: 8px;
    overflow: auto;
    padding: 20px;
  }
  .row.grid #column {
    flex: auto;
    flex: 0;
    flex: 1;
    margin-left: 0;
  }
  #column {
      width: 300px;
  }
  .card  {
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    /* box-shadow: 0 1px 2px rgba(0,0,0,.1); */
    display: inline-flex !important;
    align-items: center;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    text-align: left;
    border-radius: 4px;
    width: 300px !important;
    float: left;
    font-family: 'Comfortaa', cursive !important;
  }
  #where {
      margin: 0 auto;
  }
#main {
    width: 100%;
    max-width:initial;
}
 .pic {
    /* width: 80%; */
    /* background-color: white; */
    margin: 0 auto;
    /* border-radius: 8px; */
 }
 #main {
    background-image: url("../../images/white-background.jpeg");
    height: 100vh !important;
  }
.card-title {
    font-weight: bold !important;
    font-family: 'Comfortaa', cursive !important;
    font-size: 18px !important;
    line-height: 25px !important;
}
.item {
    font-size: 12px !important;
}
