@import url("https://fonts.googleapis.com/css?family=Orbitron|Pacifico|Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
/* .MuiTypography-h6-61 {
    font-family: 'Orbitron', sans-serif !important;
    font-size: 2rem !important;
} */

/* .MuiButton-label-81:hover, .MuiButton-label-81:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover) !important;
  transform: translateY(-0.25em) !important;
} */
/* .MuiSvgIcon-root-110 {
    fill: white !important;
} */
/* .MuiButton-label-81 {
    color: #fa4a87 !important;
} */