@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');
.card  {
    overflow-x: hidden;
    overflow-y: scroll;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: inline-flex !important;
    align-items: center;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    text-align: center;
    border-radius: 4px;
    width: 40% !important;
    float: right;
  }
.card-image {
    width: 250px;
    height: 500px;
    max-width: 250px;
    max-height: 500px;
    overflow: hidden;
}
