@import url("https://fonts.googleapis.com/css?family=Orbitron|Pacifico|Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Fahkwang|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
/* * {
  box-sizing: border-box;
} */
.grocery {
   /* background-color: yellow; */
   /* background-image: url("../../images/steel.jpeg"); */
   width: 99% !important;
   margin: 0 auto !important;
   text-align: center;
   display: block !important;
   border-radius: 8px;
   overflow: auto;
   
}
/* .row, .col {
  float: none !important;
} */
.center {
 text-align: center;
}
.text {
  text-align: center;
}
.text-title {
  text-align: center;
  font-size: 18px;
  /* text-decoration: underline; */
  /* font-family: 'Fahkwang', sans-serif; */
  font-family: 'Comfortaa', cursive !important;
  background: white;
  margin-top:0;
  border-radius: 2px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .modal {
    width: 100%;
  }
}
.notes {
  text-align: center;
  font-family: 'Fahkwang', sans-serif;
  
}
#grocery {
    display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-direction: row;   
  flex-wrap: wrap;
}
#background {
  background-image: url("../../images/wall-background.jpeg");
  background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    height: 100vh !important;
    width: 100;
    background-size: cover;
}
.container{
  width: 100%;
  max-width:initial;
}
div.note-box {
  width: 80%;
  background-color: black;
  color: white;
  font-family: 'Orbitron', sans-serif !important;
  margin: 0 auto;
  /* display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:20px 0; */
  border-radius: 8px;
  
}
/* .box:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
} */
/* .box:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
} */
/* .box:nth-child(5n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
} */
.heading{
  font-size: 1.68rem;
  font-family: 'Fahkwang', sans-serif;
  color: #757575 !important;
  font-weight: 600
}
.waves-effect {
  margin: 5px;
}
/* .outside {
  background-color: white;
  margin: 0px 30px;
  border-radius: 8px;
} */
#note-title {
  font-family: 'Orbitron', sans-serif !important;
  font-size: 1.75rem;
}
#event-title {
  font-family: 'Orbitron', sans-serif !important;
  font-size: 1.75rem;
}
/* #left {
  float: left;
  background-color: aliceblue;
} */

#right {
  background-color: #413639;
  border-top: 10px solid #ffd9e6;
  /* margin: 1px; */
  border-radius: 8px;
  border-left: 1px solid  #ffd9e6;
}
#left {
  background-color: #413639;
  border-top: 10px solid #ffd9e6;
  border-left: 1px solid  #ffd9e6;
  /* background-color: #ffd9e6; */
  /* margin: 5px; */
  border-radius: 8px;
}
.card-title {
  font-weight: bold !important;
  font-family: 'Comfortaa', cursive !important;
  font-size: 18px !important;
  line-height: 25px !important;
}
.item {
  font-size: 10px !important;
}
/* .form {
  display: inline !important;
} */
