.note {
    /* background-image: url("../../images/yellow.jpg"); */
    background-color: #F988B7;
    min-height: 15em;
    width: 15em;
    padding: 0.5em;
    /* border: 1px solid rgb(138, 136, 136); */
    /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  border-radius: 8px;
 float: right;
 margin: 0 2em 2em 2em;
  /* -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg); */
}

.words {
    /* font-family:'Give You Glory', cursive; */
    font-family: 'Fahkwang', sans-serif;
    font-size: 14px;
}
.center {
  margin: 0 auto;
}
  .note:hover, .note:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }

  .note:nth-child(even) {
    background-color: #F988B7,
  }

  .note:nth-child(3n) {
    background-color: #76D7D6,
  }

  .note:nth-child(5n) {
    background-color:#ABE3E5,
  }

  .note:nth-child(5n) {
    background-color:#F6E7A3,
  }