.note {
    /* background-image: url("../../images/406195-PEUW2Z-517.eps"); */
    background-color: pink;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.words {
    font-family:'Give You Glory', cursive;
    font-size: 18px;
}